<link href="/assets/custom.css" media="screen" rel="stylesheet">
<link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
<%= link_to 'My Projects', controller: 'projects' %>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>


	<h2>Comments</h2>
	<% @task.comments.each do |comment| %>
		<p>
			<strong>Comment:</strong>
			<%= comment.body %>
			
			<% if current_user %>			
				<% if current_user.admin == true or current_user.id == comment.user_id %>
					<td><%= link_to 'Edit', edit_task_comment_path(comment) %>&nbsp</td>
					<td><%= link_to 'Destroy', task_comment_path(comment), method: :delete, data:{confirm: 'Are you sure?'} %>&nbsp</td>
				<% else %>
					<td></td>
				<% end %>
					
			<% end %>	
		</p>	
		  
	<% end %>
	<% if current_user %>
		<h2>Add a comment:</h2>
			<%= form_for([@task, @task.comments.build]) do |f| %>
				<% if @task.errors.any? %>
					<div id="error_explanation">
					  <h2>
						<%= pluralize(@task.errors.count, "error") %> prohibited
						this article from being saved:
					  </h2>
					  <ul>
						<% @task.errors.full_messages.each do |msg| %>
						  <li><%= msg %></li>
						<% end %>
					  </ul>
					</div>
				 <% end %>
				<p>
					<%= f.label :comment %><br>
					<%= f.text_field :body %>
				</p>
				<p>
					<%= f.hidden_field :user_id, :value => current_user.id %>
				</p>
				  
				<p>
					<%= f.submit %>
				</p>
			<% end %>
	<% end %>
  
  
