<h1>Listing Project</h1>
 
<%= link_to 'My Projects', controller: 'projects' %>
<%= link_to 'New Project', new_project_path %>
<%= link_to 'LogIn', controller: 'users' %>

<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.summary %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project), method: :delete, data:{confirm: 'Are you sure?'} %></td>
	  
    </tr>
  <% end %>
</table>